<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Shopping dos otários</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header>
        <h1 class="logo">
            <a href='../'>Compras Online</a>
            <p>Produtos</p>
        </h1>
    </header>

    <main>
        {{{body}}}
    </main>
</body>

</html>