<!DOCTYPE html>
<html lang="pt-br">
<title>New Product</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../styles/styles.css">

<body>
    <form action="" id="new_product_form">
        <h1>Produto</h1>

        <span>Nome</span> <input type="text">
        <span>Preço</span> <input type="number">
        <span>Categoria</span> <input type="number">
        <span>Imagem</span> <button>upload</button>
    </form>
</body>

</html>